.orange {
  color: #f16209;
}

/* 
 * ----------------------------------------------------------------------------------------
 * Global Style.
 * ----------------------------------------------------------------------------------------
 */
body {
  font-family: 'arial', sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}

p, a {
  font-family: 'arial', sans-serif;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
  font-weight: bold;
}

p {
  margin: 0;
}

.icon-info {
  display: inline-block;
  background-image: url("../images/icon-set.png");
  background-repeat: no-repeat;
  background-position: 0px -53px;
  width: 40px;
  height: 40px;
}

.icon-info.active {
  background-position: 0px -96px;
}

/*
 * ----------------------------------------------------------------------------------------
 * Helpers.
 * ----------------------------------------------------------------------------------------
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.width100 {
  width: 100%;
}

.width75 {
  width: 75%;
}

.width50 {
  width: 50%;
}

.m-l-r-0 {
  margin-left: 0;
  margin-right: 0;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-30 {
  margin-bottom: 30px  !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-b-50 {
  margin-bottom: 50px  !important;
}

.m-b-100 {
  margin-bottom: 100px  !important;
}

.m-t-10 {
  margin-top: 10px  !important;
}

.m-t-20 {
  margin-top: 20px  !important;
}

.m-t-30 {
  margin-top: 30px  !important;
}

.m-t-40 {
  margin-top: 30px  !important;
}

.m-t-50 {
  margin-top: 50px  !important;
}

.m-t-100 {
  margin-top: 100px  !important;
}

.seprater-bottom-30 {
  content: "";
  height: 1px;
  display: block;
  margin-bottom: 30px;
}

.seprater-bottom-50 {
  content: "";
  height: 1px;
  display: block;
  margin-bottom: 50px;
}

.seprater-bottom-100 {
  content: "";
  height: 1px;
  display: block;
  margin-bottom: 100px;
}

.border1 {
  border: 1px solid #000;
}

.border2 {
  border: 2px solid #000;
}

.border-0 {
  border: 0;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.p-r-0 {
  padding-right: 0 !important;
}

.devider-90 {
  content: "";
  width: 90%;
  height: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #ddd;
}

.devider-100 {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #ddd;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.inline-element {
  display: inline !important;
}

.three-flieds .form-group {
  width: 33.33%;
  display: inline-block;
  padding: 0;
}

.three-flieds .form-group input {
  width: 95%;
}

.three-flieds .form-group select {
  width: 95%;
}

.three-flieds .form-group:last-child input {
  width: 100%;
  padding-left: 15px;
}

.three-flieds .form-group:last-child select {
  width: 100%;
  padding-left: 15px;
}

.three-flieds .form-group:last-child {
  padding-left: 15px;
}

.three-flieds .form-group:first-child {
  padding-right: 15px;
}

.two-flieds .form-group {
  width: 50%;
  display: inline-block;
  padding: 0;
}

.two-flieds .form-group input {
  width: 100%;
}

.two-flieds .form-group select {
  width: 100%;
}

.two-flieds .form-group:first-child {
  padding-right: 15px;
}

.two-flieds .form-group:last-child {
  padding-left: 15px;
}

.grid-0 > [class*='col-'] {
  padding: 0;
}

/* ----------------------------------------------------------------------------------------
 * Global Style.
 * Header styles.
 * Nav styles.
 * Main styles.
 * Sidebar styles.
 * Footer styles.
 * ----------------------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------------------
 * Header styles.
 * ----------------------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------------------
 * Nav styles.
 * ----------------------------------------------------------------------------------------
 */
.navbar {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  min-height: 26px;
}

.navbar-default {
  background-color: #a1c357;
  border-color: transparent;
  text-align: center;
  font-size: 0;
}

.navbar-default .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar-default .navbar-nav li {
  padding: 0 20px;
}

.navbar-default .navbar-nav li a {
  background: transparent;
  color: #fff;
  border-right: 1px solid;
  border-color: #1080db;
  border: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus, .navbar-default .navbar-nav li a:active {
  background: transparent;
  color: #fff;
}

.navbar-default .navbar-nav li.active a, .navbar-default .navbar-nav li.active:hover a, .navbar-default .navbar-nav li.active:focus a {
  background: transparent;
  color: #fff;
}

.navbar-default .navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-default .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-default .dropdown-menu {
  background: #96bc44;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  border: 0;
}

/*
 * ----------------------------------------------------------------------------------------
 * Main styles.
 * ----------------------------------------------------------------------------------------
 */
.green {
  color: #a1c357;
}

.box-2 {
  height: 202px;
  color: #fff;
  width: 100%;
}

.green-bg {
  background: #a1c357;
}

.green-bg i {
  color: #ccec86;
}

.green-bg .green-bg-inner {
  padding-top: 50px;
}

.magenta-bg {
  background: #92278f;
  min-height: 202px;
  color: #fff;
}

.magenta-bg i {
  color: #ccec86;
}

.magenta-bg .magenta-bg-inner {
  padding-top: 50px;
}

.newz-bg {
  background: #a67c52;
  min-height: 202px;
  text-align: center;
}

.newz-bg i {
  color: #ccec86;
}

.newz-bg .newz-bg-inner {
  padding-top: 50px;
}

.newz-bg .newz-bg-inner.arrow_box {
  position: relative;
  background: #a67c52;
  border: 2px solid #a67c52;
}

.newz-bg .newz-bg-inner.arrow_box:after, .newz-bg .newz-bg-inner.arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 999;
}

.newz-bg .newz-bg-inner.arrow_box:after {
  border-color: rgba(62, 62, 62, 0);
  border-left-color: #a67c52;
  border-width: 18px;
  margin-top: -7px;
}

.newz-bg .newz-bg-inner.arrow_box:before {
  border-color: rgba(62, 62, 62, 0);
  border-left-color: #a67c52;
  border-width: 21px;
  margin-top: -13px;
}

.kids-bg {
  background: #deca6c;
  text-align: center;
}

.kids-bg i {
  color: #ccec86;
}

.kids-bg .kids-bg-inner {
  padding-top: 50px;
}

.kids-bg-image {
  display: block;
  background-image: url("../images/image-1.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 100%;
  height: 201.9px;
}

.site-header {
  padding: 34px 80px 20px;
}

.site-branding {
  text-align: right;
}

.site-branding ul {
  margin-bottom: 0px;
  display: inline-block;
}

.site-branding ul li {
  font-weight: bold;
}

.gray-group-bar {
  padding: 0 15px;
  background: #362f2d;
  text-align: center;
}

.gray-group-bar ul {
  margin-bottom: 0;
}

.gray-group-bar ul li {
  border-right: 1px solid #b6d96c;
}

.gray-group-bar ul li:last-child {
  border-right: 0;
}

.gray-group-bar ul li a {
  padding: 20px;
  display: inline-block;
  color: #fff;
}

.banner {
  padding: 0 15px;
  color: #fff;
  text-align: center;
}

.banner a.btn {
  padding: 8px 50px;
}

.banner h2, .banner h3 {
  text-align: center;
}

.banner h2 {
  margin-bottom: 0;
}

.banner h3 {
  margin-top: 0;
  margin-bottom: 30px;
}

.banner .container-bg {
  width: 100%;
  height: 308px;
  display: bolck;
  padding-top: 80px;
  background-image: url("../images/bnner-img-1.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
}

.banner .container-bg-inner {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.banner .bg-2 {
  background-image: url("../images/bnner-img-2.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
}

.inner-content {
  padding: 0 15px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.inner-content .row {
  margin: 0;
}

.inner-content .intro {
  font-size: 0;
  background: #362f2d;
  color: #fff;
  padding: 61px 54px;
}

.inner-content .intro h4 {
  margin-bottom: 20px;
  font-size: 24px;
}

.inner-content .intro p {
  font-size: 14px;
}

.inner-content .intro a.learn-more {
  font-size: 14px;
  color: #fff;
}

.inner-content .intro.arrow_box {
  position: relative;
  background: #3e3e3e;
  border: 2px solid #3e3e3e;
}

.inner-content .intro.arrow_box:after, .inner-content .intro.arrow_box:before {
  left: 100%;
  top: 23%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 999;
}

.inner-content .intro.arrow_box:after {
  border-color: rgba(62, 62, 62, 0);
  border-left-color: #3e3e3e;
  border-width: 18px;
  margin-top: -30px;
}

.inner-content .intro.arrow_box:before {
  border-color: rgba(62, 62, 62, 0);
  border-left-color: #3e3e3e;
  border-width: 21px;
  margin-top: -33px;
}

.inner-content p i {
  font-size: 90px;
  text-align: center;
  margin-bottom: 20px;
}

.site-footer {
  padding: 0 15px;
  background: #362f2d;
}

.site-footer .site-footer-inner {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 46px;
  color: #fff;
}

.site-footer .site-footer-inner h4 {
  margin-bottom: 24px;
}

.site-footer .site-footer-inner .form-group {
  margin-bottom: 10px;
}

.site-footer .site-footer-inner .form-group input {
  border-radius: 0;
  height: 30px;
}

.site-footer .site-footer-inner input[type="submit"] {
  color: #fff;
  background-color: #a67c52;
  border-color: #a67c52;
  font-weight: normal;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}

.site-footer .site-footer-inner input[type="submit"]:focus, .site-footer .site-footer-inner input[type="submit"].focus {
  color: #fff;
  background-color: #846341;
  border-color: #513c28;
}

.site-footer .site-footer-inner input[type="submit"]:hover {
  color: #fff;
  background-color: #846341;
  border-color: #7d5d3e;
}

.site-footer .site-footer-inner input[type="submit"]:active, .site-footer .site-footer-inner input[type="submit"].active,
.open > .site-footer .site-footer-inner input[type="submit"].dropdown-toggle {
  color: #fff;
  background-color: #846341;
  border-color: #7d5d3e;
}

.site-footer-bottom {
  background: #c69c6d;
}

.site-footer-bottom .site-footer-bottom-inner {
  max-width: 836px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  color: #fff;
}

.about-us-inner {
  padding: 30px 38px;
  color: #362f2d;
}

.about-us-inner h4 {
  margin-bottom: 25px;
}

.about-us-inner p {
  margin-bottom: 16px;
}

.about-us-inner a.learn-more {
  color: #000;
}

.col6-image {
  display: block;
  background-image: url("../images/6col-image.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  /* background-position: 25px 0px; */
  background-size: cover;
  width: 100%;
  height: 245px;
}

/*
 * ----------------------------------------------------------------------------------------
 * Sidebar styles.
 * ----------------------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------------------
 * Footer styles.
 * ----------------------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------------------
 * Responsive.
 * ----------------------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------------------
 * Responsive.
 * ----------------------------------------------------------------------------------------
 */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

/*
 * ----------------------------------------------------------------------------------------
 * Plugins Setting.
 * ----------------------------------------------------------------------------------------
 */
/* ----------------------------------------------------*/
/* open  */
/* open hover */
/*default placehoder text */
/*border color and radius*/
.ui.selection.dropdown {
  border: 1px solid #ccc;
  color: #555;
  height: 34px;
  min-height: 34px;
  padding: 9px 34px 6px 11px;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.ui.search.dropdown > .text {
  cursor: text;
  font-size: 12px;
}

.ui.dropdown .menu > .item {
  font-size: 12px;
}

/* hover */
.ui.selection.dropdown:hover {
  border: 1px solid #ccc;
}

/* open  */
.ui.selection.active.dropdown {
  border-color: #66afe9;
  outline: 0;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);*/
}

.ui.selection.active.dropdown .menu {
  border-color: #66afe9;
  outline: 0;
  /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);*/
}

/* open hover */
.ui.selection.active.dropdown:hover {
  border-color: #ccc;
  box-shadow: 0px 2px 3px 0px  #ccc;
}

.ui.selection.active.dropdown .menu:hover {
  border-color: #ccc;
  box-shadow: 0px 2px 3px 0px #ccc;
}

.ui.selection.active.dropdown:hover .menu {
  border-color: #ccc;
  box-shadow: 0px 2px 3px 0px #ccc;
}

/*caret*/
.ui.selection.dropdown > .search.icon, .ui.selection.dropdown > .delete.icon, .ui.selection.dropdown > .dropdown.icon {
  top: 10px;
}

/*lable font*/
.ui.multiple.dropdown > .label {
  font-size: 14px;
  color: blueviolet;
  box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
}

/*default placehoder text */
.ui.dropdown > .default.text, .ui.default.dropdown > .text {
  color: #9e9e9e !important;
}

